body {
    background: linear-gradient(135deg, #667eea, #764ba2);
    min-height: 100vh;
}


.todo-box {
    background: hsl(0, 25%, 98%);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: gray;
}
